<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.chpn.feature">

    <application android:theme="@style/NoActionBarAppTheme">
        <activity
            android:name=".auth.screen.login.LoginActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>